
.btn-reset{
    color: red;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
    width: 100px;
    border: none;
}

.container-btn-reset{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

.btn-reset:hover{
    color: white;
    background: red;
}