.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(0,157,245);
    padding: 0.5% 3%;
}

.filter-box {
border: none;
height: 45px;
flex: 1;
margin: 0% 1%;
border-radius: 5px;
padding-left: 1%;
}