@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


.card{
    border: 1px solid rgb(223,223,223);
    max-width: 400px;
    margin: 1% 0;
    height: fit-content;
}

.image{
    width: 100%;
}

.description{
    color: gray;
}

.btn-book{
    width: 100%;
    background: rgb(0,213,177);
    color: white;
    border: none;
    font-weight: bolder;
    padding: 4% 0;
}

.description{
    display: flex;
    flex-direction: column;
}





