@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.padding-left-3{
    padding: 0 3%;
}

.container-svg{
    background: rgb(0,157,245);
    border-radius: 8px 0 0 8px;
    height: 35px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail{
    background: rgb(245,245,245);
    border-radius: 0 8px 8px 0;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    min-width: 90px;
    width: 130px;
    padding-left: 2%;
    padding-right: 4%;
}

.svg {
    height: 60%;
    filter: invert(100%);
}
